*{
	padding: 0;
	margin: 0;
}
#main-container{
	margin: 50px auto;
	width: 300px;
	height: 500px;
	overflow: hidden;
	border: 1px solid black;
}
#main-container .slipe-nav{
	width: 298px;
	height: 50px;background: #cccccc;
	border: 1px solid black;
	padding: 0;
}
#main-container .slipe-nav li{
	display: inline-block;
	width: 80px;
	height: 50px;
	line-height: 50px;
	list-style: none;
	padding-left: 10px;
}
#main-container .slipe-nav .item-active{
	background: red;
}
#main-container .section-swrap{
	width: 300px;
	height: 548px;
	background: #777777;
}
#main-container .section-swrap ul{
	width:300px;
	height: 548px;
	float: left;
	overflow: hidden;
	position: relative;
	overflow-y: scroll;

}
#main-container .section-swrap ul li{
	padding: 10px;
	position: absolute;
	display: block;
	float: left;
	list-style: none;
	background: white;

}
#main-container .section-swrap ul:first-child{
	z-index: 999;
}
#main-container .section-swrap ul h1{
	text-align: center;
}
